<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>Udacity Blog</title>
</head>
<body>
    <header class="header container">
        <div class="row">
            <div class="col-12 blog_header">
                <h2>
                    <p>
                        Udacity Blog
                    </p>
                </h2>
            </div>
            <hr>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>